html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-light {
  background-color: #556B2F !important;
}

.footer {
  background-color: #556B2F !important;
}

.footer .container {
  color:#fff;
}

.navbar-brand, .nav-link {
  color: #fff !important;
}

@media (max-width: 1100px) {
  .header-title {
      width: 40% !important;
  }

  #header-text {
      font-size: 36px !important;
  }
}

@media (max-width: 750px) {
  .header-title {
      width: 80% !important;
  }

  #header-text {
      font-size: 36px !important;
  }
}

.LargeButton {
  width: 100%;
  margin: 15px 15px 25px 0px;
  font-size: 35px;
  font-weight: 300;
  padding: 20px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

  .LargeButton:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

@media (max-width: 1400px) {
  .LargeButton {
      font-size: 3vw;
      padding: 30px;
  }
}

@media (max-width: 768px) {
  .LargeButton {
      margin: 20px 0px 0px 0px;
      font-size: 30px;
      padding: 25px;
  }
}

@media (max-width: 550px) {
  .LargeButton {
      margin: 20px 0px 0px 0px;
      font-size: 20px !important;
      padding: 25px;
  }
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

  .bs-callout h4 {
      margin-top: 0;
  }

  .bs-callout p:last-child {
      margin-bottom: 0;
  }

  .bs-callout code,
  .bs-callout .highlight {
      background-color: #fff;
  }

/* Themes for different contexts */
.bs-callout-danger {
  border-left-color: #d9534f;
}

  .bs-callout-danger h4 {
      color: #d9534f;
  }
  .bs-callout-danger h5 {
      color: #d9534f;
  }

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

  .bs-callout-warning h4 {
      color: #f0ad4e;
  }
  .bs-callout-warning h5 {
      color: #f0ad4e;
  }

.bs-callout-info {
  border-left-color: #5bc0de;
}

  .bs-callout-info h4 {
      color: #5bc0de;
  }
  .bs-callout-info h5 {
      color: #5bc0de;
  }

.bs-callout-success {
  border-left-color: #5cb85c;
}

  .bs-callout-success h4 {
      color: #5cb85c;
  }
  .bs-callout-success h5 {
      color: #5cb85c;
  }

.bs-callout-primary {
  border-left-color: #428bca;
}

  .bs-callout-primary h4 {
      color: #428bca;
  }
  .bs-callout-primary h5 {
      color: #428bca;
  }

  .card-header {
    background-color: #556B2F !important;
    color:#fff;
  }